<div data-page="home" class="page" ng-controller="homeCtrl" >
  
  <div class="navbar">
    <div class="navbar-inner">
      <div class="center">SME Futures</div>
      <div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-bars"></i></a></div>
    </div>
  </div>
  
  <div class="toolbar tabbar tabbar-scrollable">
    <div class="toolbar-inner">
		<a href="#recent" class="tab-link active">Latest</a>
		<a ng-repeat="tab in tabs" ng-click="onTabClick(tab.id)"  href="#{{tab.title}}" class="tab-link" id="{{tab.id}}">{{tab.title}}</a>
    </div>
  </div>
  <div class="page-content">
    <div class="tabs">
  
		  <div id="recent" class="tab active">
			  		<div class="im_loading" ng-show="showLoader"></div>
					<div class="card ks-card-header-pic" ng-repeat="post in posts" >
						<div style="background-image:url({{post.thumbnail}})" valign="bottom" class="card-header color-white no-border">{{post.title}}</div>
						  <div class="card-content"> 
							<div class="card-content-inner"> 
							  <p class="color-gray">Posted on {{post.date}}</p>
							  <p ng-bind-html="post.excerpt | renderHTMLCorrectly " ></p>
							</div>
						  </div>
						  <div class="card-footer"><a href="" onclick="window.plugins.socialsharing.share( {{post.title}} , null, null, {{post.url}} )" class="link">Share</a><a href="post.html?id=post.id" class="link">Read more</a></div>
					</div>
          </div>
          
            <div ng-repeat="tab in tabs" id="{{tab.title}}" class="tab">
			
			  		<div class="im_loading" ng-show="showLoader"></div>
					<div class="card ks-card-header-pic" ng-repeat="post in posts" >
						<div style="background-image:url({{post.thumbnail}})" valign="bottom" class="card-header color-white no-border">{{post.title}}</div>
						  <div class="card-content"> 
							<div class="card-content-inner"> 
							  <p class="color-gray">Posted on {{post.date}}</p>
							  <p ng-bind-html="post.excerpt | renderHTMLCorrectly " ></p>
							</div>
						  </div>
						  <div class="card-footer"><a href="#" onclick="window.plugins.socialsharing.share( {{post.title}} , null, null, {{post.url}} )" class="link">Share</a><a href="post.html?id={{post.id}}" class="link">Read more</a></div>
					</div>
          </div>
    
     
    </div>
  </div>
  

  
</div>